.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $title-text-white;
  background-color: #2f303a;
  text-align: center;

  // .container {
  //   justify-content: space-between;
  //   align-items: baseline;
  // }
  .subscription {
    // display: flex;
    // width: 570px;
    // flex-direction: column;
    width: 100%;
    .text {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
}

.address {
  width: 100%;

  .home-page {
    color: $title-text-white;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .text {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .link {
    display: block;
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.address-text {
  display: block;
  font-style: normal;
  // display: flex;
  // flex-direction: column;
  .text {
    margin-top: 8px;
  }
}

.socials-link .title-link {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
// .container > .socials-link {

// width: 270px;
// }
// .socials-list {
//   display: flex;
//   .socials-link > & .item + .item {
//     margin-left: 10px;
//   }
// }

.socials-list {
  display: flex;
  justify-content: center;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:not(:nth-last-child(-n + 1)) {
    margin-right: 10px;
  }
}

.footer-icon {
  fill: $title-text-white;
  width: 20px;
  height: 20px;
}

// .subscription-box {
//   display: flex;
//   justify-content: space-between;
// }

.email-input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;

  // display: flex;
  // align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
}

.btn-submit {
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  // display: flex;
  letter-spacing: 0.06em;
  color: $title-text-white;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
.icon-telegram {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $title-text-white;
}
